<li class="activity-list__item">
  <button class="fav-button">
    <i class="fa-regular fa-heart"></i>
  </button>
  <img class="activity__photo" src="./assets/activity-image-example.jpeg" alt="activity img">
  <footer class="activity__details">
    <div class="activity__details-info">
      <i class="fa-solid fa-location-dot"></i>
      <h3>Paris, France</h3>
    </div>
    <div class="activity__details-info">
      <i class="fa-solid fa-thumbs-up"></i>
      <h3> 4.5 </h3>
    </div>
    <!-- Add enhanced item here!! -->
  </footer>
</li>