<nav class="nav-category">
  <div class="nav-category__menu">

    <div class="nav-category__menu-item">
      <i class="fa-solid fa-sun"></i>
      <h4>Tropical</h4>
    </div>

    <div class="nav-category__menu-item">
      <i class="fa-solid fa-star"></i>
      <h4>Loved</h4>
    </div>

    <div class="nav-category__menu-item">
      <i class="fa-solid fa-piggy-bank"></i>
      <h4>Budget</h4>
    </div>

    <div class="nav-category__menu-item">
      <i class="fa-brands fa-pagelines"></i>
      <h4>Peaceful</h4>
    </div>

    <div class="nav-category__menu-item">
      <i class="fa-solid fa-sack-dollar"></i>
      <h4>Luxury</h4>
    </div>

    <div class="nav-category__menu-item">
      <i class="fa-solid fa-landmark"></i>
      <h4>Cultural</h4>
    </div>

    <div class="nav-category__menu-item">
      <i class="fa-solid fa-water"></i>
      <h4>Seaside</h4>
    </div>

    <div class="nav-category__menu-item">
      <i class="fa-solid fa-city"></i>
      <h4>City</h4>
    </div>

    <div class="nav-category__menu-item">
      <i class="fa-solid fa-tree"></i>
      <h4>Nature</h4>
    </div>
  </div>
  <button class="nav-category__filter-btn">
    <i class="fa-solid fa-bars"></i>
    <h3> Filters</h3>
  </button>
</nav>