<nav>
  <div class="logo">
    <img src="./logo.jpg" alt="logo">
    <h1>TripWizard</h1>
  </div>
  <form action="" name="nav-form" class="nav-form">
    <input type="text" name="location" placeholder="Anywhere">
    <input type="text" name="duration" placeholder="Days" class="nav-form-middle">
    <input type="text" name="budget" placeholder="Budget">
  </form>
  <div class="nav-menu">
    <ul>
      <li>
        <a href="#">Favorites</a>
      </li>
      <li>
        <a href="#">Logout</a>
      </li>
      <li>
        <div class="fav-badge">
          <i class="fa-solid fa-heart"></i>
        </div>
      </li>
    </ul>
  </div>
</nav>